server:
  port: 8083

spring:
  application:
    name: transfer-service
  cloud:
    config:
      enabled: false  # Отключаем Config Client
      fail-fast: false
  # Локальные настройки (пока Config Client отключен)
  datasource:
    url: jdbc:postgresql://localhost:5432/transfer_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka/
    instance:
      prefer-ip-address: true

logging:
  level:
    com.practicum.bank.transfer: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"