# ConfigMap для микросервиса Accounts Service
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "accounts-service.fullname" . }}-config
  labels:
    {{- include "accounts-service.labels" . | nindent 4 }}
data:
  # Настройки подключения к БД
  DB_URL: "jdbc:postgresql://{{ printf "%s-postgres-db" .Release.Name }}:5432/accounts_db"
  DB_USERNAME: "postgres"

  # Адрес сервера авторизации Keycloak
  OAUTH_SERVER_URL: "http://{{ printf "%s-oauth-server" .Release.Name }}:8080/realms/bank-realm"

  # Настройки безопасности/OAuth Client Credentials
  OAUTH_CLIENT_ID: "accounts-service-client"

  # Внутренние URL для межсервисного общения
  CASH_SERVICE_URL: "http://{{ printf "%s-cash-service" .Release.Name }}:8080"
  NOTIFICATION_SERVICE_URL: "http://{{ printf "%s-notification-service" .Release.Name }}:8080"