# Default values for postgres-db.
replicaCount: 1

db:
  name: accounts_db
  user: postgres

storageSize: 1Gi

image:
  repository: postgres
  tag: "15"
  pullPolicy: IfNotPresent

service:
  port: 5432
